<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
   
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="baidu-tc-cerfication" />
    <meta name="description" content=""/>
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href=""/>
    <link rel="stylesheet" href="/Public/mobile/css/all.css" type="text/css" media="screen" />
     <link rel="stylesheet" type="text/css" href="/Public/mobile/css/widgets/message.css">
    <link rel="stylesheet" type="text/css" href="/Public/mobile/css/widgets/loading.css">
    <link rel="stylesheet" type="text/css" href="/Public/mobile/css/widgets/numbertext.css">
    <script type="text/javascript" src="/Public/mobile/lib/zepto.js"></script>
    <script type="text/javascript" src="/Public/mobile/lib/fx.js"></script>
    <script type="text/javascript" src="/Public/mobile/lib/zepto-touch.js"></script>
    <script type="text/javascript" src="/Public/mobile/lib/doT.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/common/base64.js"></script>
    <script type="text/javascript" src="/Public/mobile/lib/class.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/common/comm.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/common/memery.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/common/sider.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/common/message.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/common/loading.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/common/numbertext.js"></script>

    <script type="text/javascript" src="/Public/mobile/core/base/ctrl.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/base/pageBox.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/base/page.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/base/channel.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/base/popPages.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/base/app.js"></script>
    <script type="text/javascript" src="/Public/mobile/app/zbapp.js"></script>
    <script type="text/javascript" src="/Public/mobile/core/common/ajax.js"></script>

    <script id="templatetemp" type="text/html"></script>
</head>
<body>
</body>
</html>