<!-- <header class="Mheader isShowSearch"> 
	<img src="/Public/mobile/images/break.png" alt="" class="break">
	<img src="/Public/mobile/images/magnifier.png" alt="" class="magnifier">
	<div class="cen">产品工作台</div>
	<div class="search">
		<div class="g_text">
			<input type="text">
		</div>
		<i class="ser_btn"></i>
	</div>
</header> --> 
<!-- <nav ui-type = "navlist" items-event = "gotoitem">
	<ul class="ul clearfix">
		<li params = '{"id":12 , "dx":21}' class="cur">全部</li>
		<li params = '{"id":12 , "dx":21}'>发顺丰</li>
		<li params = '{"id":12 , "dx":21}'>发顺丰</li>
	</ul>
</nav>

<div class="Mlist">
	<ul>
		<li>
			<dl>
				<dt class="number">
					<i class="i_one">1</i>
					<i class="i_two">2</i>
					<i class="i_three">3</i>
					<i class="">4</i>
				</dt>
				<dt class="product">
					<p class="p1">这是第一期</p>
					<p class="p2">2016-02-01 11:00:49</p>
				</dt>
				<dt class="cursor">
					<p class="p1"><i class="img_rt"></i>推荐人</p>
					<p class="p2">张三</p>
				</dt>
				<dt class="setting">
					<span>被撤销</span>
				</dt>
			</dl>
		</li>
		<li>
			<dl>
				<dt class="number">
					<i>1</i>
				</dt>
				<dt class="product">
					<p class="p1">这是第一期</p>
					<p class="p2">2016-02-01 11:00:49</p>
				</dt>
				<dt class="cursor">
					<p class="p1"><i class="img_rt"></i>推荐人</p>
					<p class="p2">张三</p>
				</dt>
				<dt class="setting">
					<span>被撤销</span>
				</dt>
			</dl>
		</li>
		<li>
			<dl>
				<dt class="number">
					<i>1</i>
				</dt>
				<dt class="product">
					<p class="p1">这是第一期</p>
					<p class="p2">2016-02-01 11:00:49</p>
				</dt>
				<dt class="cursor">
					<p class="p1"><i class="img_rt"></i>推荐人</p>
					<p class="p2">张三</p>
				</dt>
				<dt class="setting">
					<span>被撤销</span>
				</dt>
			</dl>
		</li>
		<li>
			<dl>
				<dt class="number">
					<i>1</i>
				</dt>
				<dt class="product">
					<p class="p1">这是第一期</p>
					<p class="p2">2016-02-01 11:00:49</p>
				</dt>
				<dt class="cursor">
					<p class="p1"><i class="img_rt"></i>推荐人</p>
					<p class="p2">张三</p>
				</dt>
				<dt class="setting">
					<span>被撤销</span>
				</dt>
			</dl>
		</li>
		<li>
			<dl>
				<dt class="number">
					<i>1</i>
				</dt>
				<dt class="product">
					<p class="p1">这是第一期</p>
					<p class="p2">2016-02-01 11:00:49</p>
				</dt>
				<dt class="cursor">
					<p class="p1"><i class="img_rt"></i>推荐人</p>
					<p class="p2">张三</p>
				</dt>
				<dt class="setting">
					<span>被撤销</span>
				</dt>
			</dl>
		</li>
		<li>
			<dl>
				<dt class="number">
					<i>1</i>
				</dt>
				<dt class="product">
					<p class="p1">这是第一期</p>
					<p class="p2">2016-02-01 11:00:49</p>
				</dt>
				<dt class="cursor">
					<p class="p1"><i class="img_rt"></i>推荐人</p>
					<p class="p2">张三</p>
				</dt>
				<dt class="setting">
					<span>被撤销</span>
				</dt>
			</dl>
		</li>
	</ul>
</div> -->

<!-- 基本信息-->
<!-- <header class="Mheader isShowSearch"> 
	<img src="/Public/mobile/images/break.png" alt="" class="break">
	<img src="/Public/mobile/images/magnifier.png" alt="" class="magnifier">
	<div class="cen">产品工作台</div>
	<div class="search">
		<div class="g_text">
			<input type="text">
		</div>
		<i class="ser_btn"></i>
	</div>
</header>
<div class="infolist">
	<ul>
		<li>
			产品全称
			<span class="fr">
				泽西全系
			</span>
		</li>
		<li>
			产品全称
			<span class="fr">
				泽西全系
			</span>
		</li>
		<li>
			产品全称<br/>
				泽西全系
		</li>
	</ul>
</div>
<div class="tablelist">
	<dl>
		<dt>
			<span class="tit">基金评价</span>
			<span class="fr">泽西三七</span>
		</dt>
		<dd>
			产品简称
			<span class="fr">泽西三七</span>
		</dd>
		<dd>
			渠道费用
			<span class="fr red">3%</span>
		</dd>
	</dl>
	<dl>
		<dt>
			<span class="tit">基金评价</span>
			<span class="fr">泽西三七</span>
		</dt>
		<dd>
			产品简称
			<span class="fr">泽西三七</span>
		</dd>
		<dd>
			渠道费用
			<span class="fr">
				<label>
					<input type="radio" name="b" value="0">
					<i>通过</i>
				</label>
				<label>
					<input type="radio" name="b" value="0">
					<i>通过</i>
				</label>
				<label>
					<input type="radio" name="b" value="0">
					<i>通过</i>
				</label>
			</span>
		</dd>
		<dd>
			评分理由
			<br/>
			<div>
				<textarea class="textarea"></textarea>
			</div>
		</dd>
	</dl>
</div>
 -->
<!-- 产品详情 -->
<!-- 
<div class="meslist">
	<ul class="ul">
		<li>
			<dl>
				<dt class="number">
					<i class="i_one">1</i>
				</dt>
				<dt class="product">
					<p class="p1">泽西三七</p>
					<p class="p2">2016-02-01 11:00:49</p>
				</dt>
				<dt class="cursor">
					<p class="p1"><i class="img_rt"></i>推荐人</p>
					<p class="p2">张三</p>
				</dt>
				<dt class="setting">
					<span>被撤销</span>
				</dt>
			</dl>
		</li>
	</ul>
	<ul class="ul_list">
		<li>
			<i class="icon_xx"></i>
			<span class="text">基本信息</span>
			<i class="icon_right"></i>
		</li>
		<li>
			<i class="icon_xx_02"></i>
			<span class="text">新增信息</span>
			<i class="icon_right"></i>
		</li>
		<li>
			<i class="icon_pf"></i>
			<span class="text">评分表</span>
			<i class="icon_right"></i>
		</li>
		<li>
			<i class="icon_jg"></i>
			<span class="text">评分结果</span>
			<i class="icon_right"></i>
		</li>
		<li>
			<i class="icon_fj"></i>
			<span class="text">附近资料</span>
			<i class="icon_right"></i>
		</li>
		<li>
			<i class="icon_ht"></i>
			<span class="text">合同</span>
			<i class="icon_right"></i>
		</li>
	</ul>
	<div class="dis_box">
		
			<div><button class="btn_red">终止</button></div>
			<div><button class="btn_gray">撤回</button></div>
			<div><button class="btn_blur">通过</button></div>
		
	</div>
</div> -->
<!-- 附件列表 -->
<!-- <div class="filelist">
	<dl>
		<dt>附件</dt>
		<dd class="clearfix">
			<li>
				<img src="/Public/mobile/images/icon_word.png" alt="">
				<p>信息</p>
			</li>
		</dd>
	</dl>
</div> -->
<!-- 消息内容 -->
<!-- <header class="Mheader isShowSearch"> 
	<img src="/Public/mobile/images/break.png" alt="" class="break">
	<img src="/Public/mobile/images/magnifier.png" alt="" class="magnifier">
	<div class="cen">消息</div>
	<div class="search">
		<div class="g_text">
			<input type="text">
		</div>
		<i class="ser_btn"></i>
	</div>
</header>
<nav class="same_nav">
	<ul class="ul clearfix">
		<li  class="cur">最新公告</li>
		<li >待办事项</li>
	</ul>
</nav>
<div class="showPageText">
	<div class="tit">这是标题这是标题这是标题这是标题这是标题这是标题</div>
	<div class="tig">2012-01-01 11:11:11</div>
	<div class="con">as发放加上烦都烦死年发生纠纷难解阿森纳福建阿森纳警方说法是男方散发那是客房内萨菲尼克散发喀纳斯卡法娜马萨科夫纳斯库房内四方少年富士康妇女卡萨诺发送开发你卡死烦恼啦</div>
	<div class="cen">
		<button class="btn_80">删除</button>
	</div>
</div>
 -->

<!-- 角色分配 -->
<!-- <div class="Rolelist">
	<ul>
		<li>
			<i class=""></i>
			<p class="p1">这是标题</p>
			<p class="p2">这是内容</p>
		</li>
		<li>
			<i class="cur"></i>
			<p class="p1">这是标题</p>
			<p class="p2">这是内容</p>
		</li>
	</ul>
</div>
 -->

<!-- 合作商 -->
<!-- <div class="handlist">
	<dl>
		<dt>嵩官方说法</dt>
		<dd>
			<p class="text">所放松放松的</p>
			<p class="phone">110111010101</p>
			<p class="img">
				<i></i>
			</p>
		</dd>
	</dl>
</div>
<!-- 新增列表详情 -->

<!-- <div class="meslist meslistesp">
	<ul class="ul_list">
		<li>
			<span class="text">基本信息</span>
			<i class="icon_right"></i>
		</li>
		<li>
			<span class="text">新增信息</span>
			<i class="icon_right"></i>
		</li>
		<li>
			<span class="text">评分表</span>
			<i class="icon_right"></i>
		</li>
		<li>
			<span class="text">评分结果</span>
			<i class="icon_right"></i>
		</li>
		<li>
			<span class="text">附近资料</span>
			<i class="icon_right"></i>
		</li>
		<li>
			<span class="text">合同</span>
			<i class="icon_right"></i>
		</li>
	</ul>
</div> -->
<div class="cry">
	<p class="tit clearfix">
		<img src="/Public/mobile/images/cry.png" alt="" >
		<i>SORRY!<br/>页面去火星了。</i></p>
	<div class="cen">
		<button>返回上一页</button>
	</div>
</div>