<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320"/>
    <meta name="format-detection" content="telephone=no">
	<title>忘记密码</title>
	<link rel="stylesheet" href="__PUBLIC__/mobile/css/login.css">
	<script src="__PUBLIC__/mobile/lib/zepto.min.js"></script>
	<script src="__PUBLIC__/mobile/lib/zepto-touch.js"></script>
</head>
<body>
	<div class="findpsd" id="findpsd">
		<div class="login_con">
			<div class="tit">
				<img src="__PUBLIC__/mobile/images/login_title.png" alt="">
			</div>
			<ul>
				<li>
					<input type="text" placeholder="邮箱" class="btnEmail">
				</li>
				<li class="yzm_li">
					<div class="yzm_span">
						<input type="text" placeholder="验证码" class="btnYzm">
					</div>
					<img src="/admin/common/verify?width=70&height=36&time=001" alt="" id="changeYzm">
				</li>
				<li>
					<button class="btn btnFindpwdFn" id="sub">提交</button>
				</li>
			</ul>
		</div>
		<div class="findpsd_tigs">
			<p class="p1">
				<img src="__PUBLIC__/mobile/images/smile.png" alt="">
				<span>找回密码成功！</span>
			</p>
			<p class="p2">
				 我们已经向您的邮箱发送了一封密码找回邮件<br/>
				 请您登录邮箱并点击重置密码链接进行修改
			</p>
			<p class="p3">
				<a href="{:U('common/login')}" class="btn">回到首页</a>
			</p>
		</div>
	</div>
</body>
<script src="__PUBLIC__/mobile/app/login/login.js"></script>
</html>